<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things Needed:</h1>
    <table>
        {% for item in items %}
            <tr>
                {% if item.done %}
                    <td><strike>{{ item.name }}</strike></td>
                {% else %}
                    <td>{{ item.name }}</td>
                {% endif %}
                <td>
                    <a href="/edit/{{ item.id }}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <a href="/toggle/{{ item.id }}">
                        <button>Toggle Done</button>
                    </a>
                </td>
                <td>
                    <a href="/delete/{{ item.id }}">
                        <button>Delete Item</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <td>You Have Nothing To Do</td>
        {% endfor %}    
    </table>
    <a href="/add_item">Add A TODO Item</a>
</body>
</html>